{% extends "templates/base.html" %}
{%  block title %}Infotrack - Remoção de comando{% endblock  %}
{% block content  %}

<div class="main-form">
  <h1><img class="icon" src="/media/img/command.png">Histórico de comandos</h1>
  <hr />
					<h2>Remoção de Comando</h2>
					<em> Tem certeza que deseja remover o comando "{{ c.type }}" do veículo "{{ c.equipment.license_plate }}"? </em>
					
					<div align="center" style="margin-top:10px;" id="actions">
            
            <form action='.' method='post'>{% csrf_token %}
                <a href="#" onClick="parentNode.submit();">Confirmar</a>
                <a onClick="history.back();">Cancelar</a>
            </form>
            </div>

{% endblock %}

