{% extends "templates/base.html" %}
{%block title%}Infotrack - Alertas {% endblock %}
{% block head %}
<script src="/media/js/jquery.jqGrid.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/media/js/jquery.treeTable.js"></script>
<script type="text/javascript" src="/media/js/alerts.js"></script>
<link rel="stylesheet" href="/media/css/jquery.treeTable.css" type="text/css" media="screen" /> 
<script type="text/javascript">
    $(document).ready(function()  {
        $("#tree").treeTable({
            initialState: "expanded"
        });
    });  
</script>
<link rel="stylesheet" href="/media/css/crud.css" type="text/css" media="screen" /> 
{% endblock  %}


{% block content %}

<div id="config">
    <div class="main-form">
        <h1><img class="icon" src="/media/img/equipment.png">Gerenciamento de Alertas</h1>
        <hr/>
        <h2>Lista de Alertas:</h2>
				<em> </em>
    
    <table cellspacing="0" id="tree" class="table">
    <!-- to create a darker table row, you must add the class even to a tr eg.
    <tr class="even">…</tr>
    --><!-- Table Header -->
    <thead>
      <tr>
        <th>Nome do Alerta</th>
        <th>Enviado por:</th>
        <th>Início do monitoramento</th>
        <th>Fim do monitoramento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for line in alert_tree %}      
  	        {% if line.sysname %}
  	        <tr id='node-{{line.id}}' {% if line.childof and line.sysid != request.session.system %}class='child-of-node-{{line.childof}}'{% endif %}>
  	            <td style='font-weight:bold;text-align:left;' >{{line.sysname}}</td>
  	            
  	        </tr>
  	        {% else %}
  	        <tr {% if line.childof %}class='child-of-node-{{line.childof}}'{% endif %}>
  	            <td style='text-align:left;' ><a class="alertdialog"  id="{{line.id}}"  href="#">{{line.alertname}}</a></td>
  	            <td>{{line.sender}}</td>
  	            <td>{{line.timestart|date:"SHORT_DATETIME_FORMAT"}}</td>
  	            <td>{{line.timeend|date:"SHORT_DATETIME_FORMAT"}}</td>
  	            <td style='padding-right:5px;'>
  	                <a class='table-button' href='{% url alerts.views.edit line.id %}' >Editar</a>
  	                <a class='table-button'  href='{% url alerts.views.delete line.id %}'>Apagar</a>
  	            </td>
  	        </tr>
  	        {% endif %}
  	    {% endfor %}
  	    
      </tbody>
    </table>
    <div align="center" style="margin-top:10px;" id="actions">
      <a href="{% url alerts.views.create request.session.system %}">Criar alertas</a>
    </div>

  </div>     
</div>

{% block dialog %}

{% endblock %}


{% csrf_token %}



{% endblock %}
