{% if data %}
<div class="popup-content" title="Notificação de alerta{{numalerts|pluralize}} ocorrido{{numalerts|pluralize}}">
    <img style="float:left;margin-right:3px;height:30px"  src="/media/img/siren.gif" border="1"/>
    <p style="float:left;margin-left:90px;font-size:23px;font-variant:small-caps;padding:5px;font-weight:bold;" align="center">Você recebeu {{numalerts}} novo{{numalerts|pluralize}} alerta{{numalerts|pluralize}}</p>
    <img style="float:right;margin-right:3px;height:30px"  src="/media/img/siren.gif" border="1"/>
    
    {% for id,alert in data.items %}
        <div class="alert-wrapper">
            <h2 style="font-size:18px;font-variant:small-caps;">{{alert.name}}</h2>
            <hr />
            <div style="margin:0 auto;width:250px;float:left;">
              <table>
                <tr>
                  <td colspan="2">
                    <p align="center" style="float:none;"><b>Dados do veículo</b></p>
                  </td>
                </tr>  
                <tr>
                  <td>
                    <span>Veículo:</span>
                  </td>
                  <td>
                    <p>{{alert.plate}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Data:</span>
                  </td>
                  <td>
                    <p>{{alert.date}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Trigger:</span>
                  </td>
                  <td>
                    <p>{{alert.trigger}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Alertar quando:</span>
                  </td>
                  <td>
                    <p>{% if alert.limit %}
                            {% if alert.state %}Acima do limite
                            {% else %}Abaixo do limite
                            {% endif %}
                       {%else%}
                            {% if alert.state %}Ligado
                            {% else %}Desligado
                            {% endif %}
                      {% endif%}
                    </p>
                  </td>
                </tr>
                {% if alert.limit %}
                <tr>
                  <td>
                    <span>Limite:</span>
                  </td>
                  <td>
                    <p>{{alert.limit}}</p>
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <td>
                    <span>Cliente filho:</span>
                  </td>
                  <td>
                    <p>{{alert.system}}</p>
                  </td>
                </tr>
              </table>
            </div>
            
            <div style="float:right;">
              <table>
                <tr>
                  <td colspan="2">
                    <p align="center" style="float:none;"><b>Dados do Administrador</b></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Nome:</span>
                  </td>
                  <td>
                    <p>{{ adminname }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Email:</span>
                  </td>
                  <td>
                    <p>{{adminemail}}</p>
                  </td>
                </tr> 
                <tr>
                  <td>
                    <span>Celular:</span>
                  </td>
                  <td>
                    <p>{{admincelular}}</p>
                  </td>
                </tr>
                
              </table>
            </div>
            <div  style='clear:both; margin:5px; text-align:center; padding-top:10px;'><a class="table-button" style="padding:10px;" href="{% url command.views.create request.session.system alert.vehicle_id %}">Enviar comando para este veículo</a></div>
        </div>
    {% endfor %}
</div>
{% endif %}
