#topContainer .centerContainer {
  height:100px;
  background-position: left top;
  background-image: url("/media/static/img/logo.png");
  background-repeat:no-repeat;
  background-size:auto 60px;
}

body {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	margin: 10px auto;
	overflow-x: hidden;
	height:100%;
	
}
a {
	color: #333;
}

html {
	height:100%;
}

#login {
	margin-top:15%;
}

#login label {
  float: right;
  font-weight:bold;
  font-size:12px;
}

#login input[type="text"],#login input[type="password"] {
  width: 200px;
	margin: 5px;
	border: 1px solid #AAAAAA;
}

#login img{
	margin-bottom: 10px;
}

#login .forgot {
  font-size:11px;
  margin-top:5px;
}

#login table {
  width: 300px;
}

.login-button {
  border-radius: 1em 1em 1em 1em;
  margin-left: 5px;
  padding: 6px 9px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#loginstatus{
    text-align:left;
    top: 0pt;
    float:right;
    width:auto; 
    height:40px;
}
.centerContainer {
	margin: 0 auto;
	height:100%;
}

#topContainer {
	margin-bottom:5px;
	margin:0 auto;
  width:960px;
  height:65px;
}

table.formtable {
	margin:0 auto;
}

#content {
  margin-left:auto;
  margin-right:auto;
	margin-top:5px;
/*  position: absolute;*/
	z-index:-1;
	min-width:960px;
	height:100%;
}

#content p{
	//font-size: 15px;
/*  font-weight: bold;  */
	//margin-bottom:5px;
	//margin: 5px 5px 5px 5px;
}

#content h1{
  font-weight: bold;
}

#content h2{
	font-weight: bold;
	margin: 0px 0 0;  
}

#config{
  margin:auto;
	//margin-left: 300px;
}

#config li {
	padding-left:20px;
}

#config td {
  text-align:center;
	vertical-align:center;
	//padding-top:5px;
}

#config table {
  min-width: 600px;
}

#config table {
  margin: auto;
}

#config table input,textarea {
  margin:5px;
  width:80%;
}

#config #help {
  font-size:90%;
  text-align:center;
}

#config #id_users,#selecionados,#id_equipments,#selecionados2 {
  height: 100px;
  width: 75px;
}

#config ul.errorlist {
  color:red;
  border:1px dashed #FFF;
  border-radius: 4px 4px 4px 4px;
  background-color:white;
  max-width:90%;
  margin:0 auto;
  min-width:50px;
  margin-top:5px;
  margin-bottom:5px;
}

#toolbar{
	position: fixed;
	bottom: 0px;
	width:962px;
	margin: 0 auto;
	height: 75px;
	background-color: #e0e0e0;
}

#nav {
	margin: 0 auto;
	padding: 7px 6px 0;
	line-height: 100%;
	width:100%;
  
	/*border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;*/
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	border-top: solid 1px #6d6d6d;
	border-bottom:; solid 1px #6d6d6d;
}
#nav li {
  text-align:left;
	margin: 0 5px;
	padding: 0 0 8px;
	position: relative;
	list-style: none;
	display:inline-block;
}
/* main level link */
#nav a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding:  8px 23px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#nav a:hover {
    background-color: none;
}

#geofencetool input[type="submit"]{
	margin: 10px auto 5px auto;
}

#addpoint, #adddestiny {
/*  float:right;*/
}

#addpoint:hover, #adddestiny:hover {
	cursor:pointer;
	text-decoration:underline;
}


#actions a,input[type="submit"],input[type="button"]{
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  padding:  6px 13px;
  margin-left:5px;
  display: inline-block;
  -webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-decoration:none;
	font-size:10px;
	border: 1px solid #999;
/*  background-color: a1a1a1;*/
	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
	
}

#actions a:hover,input[type="submit"]:hover,input[type="button"]:hover{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  padding:  6px 13px;
  margin-left:5px;
  display: inline-block;
  -webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-decoration:none;
	border: 1px solid #999;
	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #a1a1a1, #ebebeb); /* for firefox 3.6+ */
}

#loginstatus{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	text-decoration:none;
	padding:  6px 13px;

}
/* main level link hover */
#nav .current a, #nav li:hover > a {
/*  border-top: solid 1px #f8f8f8;*/
  color:#444;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	
	background-color: #A1A1A1;
	background: -moz-linear-gradient(center top , #EBEBEB, #A1A1A1) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#A1A1A1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1)); /* for webkit browsers */

}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
  background: none;
	border: none;
	color: #666;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
  text-align:left !important;
  
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	
	background-color: #A0A0A0 !important;
  color: #E7E5E5 !important;
  width: 127px;
}
/* level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 172px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
/*  display: block;*/
}
#nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}

#child-wrapper{
    margin:10px;
    padding-left:10px;
    padding-bottom:30px;
}

.childs{
    padding-left:25px;
   
}
.childs li{
     list-style:square;
}

.main-form{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
/*    width:850px;*/
    margin: 0 auto;
    background:#fff;
    padding: 20px;
    min-height:400px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    overflow:hidden;
    height:100%;
    
    background: -moz-linear-gradient(center top , #FFFFFF, #CFCFCF) repeat scroll 0 0 transparent;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CFCFCF'); /* for IE */
  	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF)); /* for webkit browsers */
}
.main-form h1{
    font-size: 28px;
    font-weight:bold;
    padding:10px 5px;
    

}
.main-form h2{
    font-size:16px;
    text-align:left;
    padding:0px 0px 15px 5px;

}

.main-form em{
    font-size:14px;
    color:#888;
    padding-left:30px;
}

.main-form form{
    margin-top:20px;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
}

.item-alone{
    float:left;
    width:200px;
    padding:10px;
}

.item-left{
    float:left;
    text-align:right;
    font-weight:bold;
    width:200px;
    padding:10px;
}

.item-left #help{
    font-weight:normal;
    font-style:oblique;
    color:#888;
    font-size:10px;
    line-height:10px;
}

.item-right{
    float:left;
    text-align:left
    margin:40px;
    min-width:200px;
}
.errorlist{
    color:red;
    padding-left:10px;
}
.item-right .field{
    padding:10px;
}
.field input[type="text"],input[type="password"]{
    width:350px;
    border: 1px solid #aaa;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
}
hr{
    clear:both;
}

.clear{
    clear:both;
}

.submit {
    padding:10px;
    margin:10px;
    float:right;
}

#pop{
  z-index:9999999999999999999999999;
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:1px solid #d0d0d0
}

input[type="text"], input[type="password"], input[type="number"]{
  height:25px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.item-right select {
  border: 1px solid #aaa;
  height:100%;
  width:350px;
}

.table-button {
  font-color:#555555;
  background-color: #E2E2E2;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #;
  font-size: 11px;
  padding: 3px;
  margin-left:5px;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  background: -moz-linear-gradient(center top , #FFFFFF, #CFCFCF) repeat scroll 0 0 transparent;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CFCFCF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF)); /* for webkit browsers */
}

.table-button:hover{
  background: -moz-linear-gradient(center top , #CFCFCF, #FFFFFF) repeat scroll 0 0 transparent;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#FFFFFF)); /* for webkit browsers */
}

#map{
  z-index:0;
}

#menuContainer{
  position:relative;
  z-index:1;
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#gbox_list4 {
  //width:92%;
  margin:0 auto;
}

img.icon {
  margin-right:10px;
  height:20px;
}

img.fullscreen{
  height:19px;
  margin-top:1px;
  cursor: pointer;
}
img.fullscreen:hover{
  border:1px outset;
}

img#maptools{
  cursor: pointer;
  height: 19px;
  margin-top: 1px;
  margin-right:5px;
}

img#maptools:hover{
  border:1px outset;
}

img#maptools{
  display:none;
}

#tabs-1{
/*  overflow:auto;*/
}

#tabs-3left{
  float:left;
/*  width:0;*/
  height:100%;
  display:none;
}

#tabs-3right{
  float:right;
  width:100%;
  height:100%;
}

#tabs-4{
/*  float:right;*/
/*  width:100%;*/
/*  height:100%;*/
}

#easyTooltip{
	padding:5px;
	border:1px solid #ccc;
	background:#FFF;
}

#tabs {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	margin:0 auto;
}

#tabs.normal{
  width:960px;
  z-index:0;
  height:100%; 
}

#tabs.fullscreen{
/*	overflow:auto; */
}

#tabs.fullscreen,#content.fullscreen,.centerContainer{
	width:100%;
	margin:0 auto;
	height:100%;
}



#list4 {
	margin:0;
}

.steps{
  margin-left:5px;
  //float:left;
  width:300px;

}

.steps fieldset{
  border:1px solid #ccc;
  height:auto;
  padding:10px;
}

.steps legend{
  font-weight:bold;
}

.steps input[type=text]{
  width:150px;
}

#geofence-tabs {
  min-height:400px;
}

#loadingScreen {
  z-index:999999999999999999999999999999999;
}

.loadingScreenWindow .ui-dialog-titlebar-close {
  display: none;
}

.popup-content p{}
.alert-wrapper {margin-top:20px;padding:10px;}
.alert-wrapper h2{ clear:both; margin-top:10px;}
.alert-wrapper ul{padding:3px 3px 3px 10px; margin-bottom:35px;}
.alert-wrapper td{text-align:center;}
.alert-wrapper span { font-weight: bold; float:left;}
.alert-wrapper p { float:right; margin-bottom:0px;}
.alert-wrapper ul li {clear:both;}
