{% extends "templates/base.html" %}

{% block head %}

<link rel="stylesheet" href="/media/css/multiselect.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/getElementsBySelector.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/media/js/jsi18n.js"></script>


{% if request.session.system_being_created %}
<script type="text/javascript">
  
  var need_to_confirm = true;
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
    if(need_to_confirm){
        return "O seu sistema foi criado com as configurações básicas, mas o assistente ainda não foi concluído. Você pode executar as etapas restantes de configuração do sistema depois, acessando o menu de Equipamentos na aba Configurações. Tem certeza que deseja sair?";
    }
  }
  window.onunload = postleave;
  function postleave()
  {
    if(need_to_confirm){
        alert("Página descarregando");
        $.post('/sys_not_created/',{});
    }
  }
  
  $(document).ready(function(){
    $('.submit').click(function(){
        need_to_confirm = false;
      });
  });

</script>

{% endif %}


{% endblock %}

{%block title%}Infotrack - Associações de Equipamentos {% endblock %}

{% block content %}


<div  class="main-form">

<h1>Permissões de Sistema </h1>
<hr />
<h2>Equipamentos disponíveis para o sistema {{system_name}}</h2>
<em>Selecione abaixo quais equipamentos do seu sistema terão visibilidade no subsistema {{system_name}} </em>

<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
   {% for field in form.visible_fields %}
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
        </div>
        <hr / >
        {% endfor %}
    </table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" value="Salvar" class="submit">
<p class="clear"></p>
</form>

</div>
{% endblock %}
