{% block content %}
<div  class="main-form">

<h1><img class="icon" src="/media/img/equip.png">Configurações do Grid </h1>
<hr />
<h2>Visualização de objetos</h2>
<em>Selecione quais campos e veículos devem aparecer no grid. </em>



<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }} {%if field.field.required%} *{%endif%}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
        </div>
        <hr / >
        {% endfor %}
    </table>

<input type="submit" value="Salvar" class="submit">
<p class="clear">
</form>

</div>
{% endblock %}
