{% extends "templates/base.html" %}

{% block content %}


<div  class="main-form">
{% block form_title %}
<h1><img class="icon" src="/media/img/vehicle.png">Criação de usuário </h1>
<hr />
<h2>Dados de cadastro</h2>
<em>Informe os dados necessários para o cadastro do usuário no sistema.</em>
{% endblock %}
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }}{%if field.field.required%} *{%endif%}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
        </div>
        <hr / >
    {% endfor %}
    </table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" value="Prosseguir" class="submit">
<p class="clear">
</form>

</div>
{% endblock %}
