{% extends "templates/base.html" %}

{%block title%}Infotrack - Remoção de usuário {% endblock %}
{% block content  %}

<div class="main-form">
  <h1><img src="/media/img/users.png" class="icon">Gerenciamento de usuários</h1>
  <hr />
					<h2>Remoção de usuário</h2>
					<em> Tem certeza que deseja remover o usuári "{{ user.username }}"? </em>
					
					<div align="center" style="margin-top:10px;" id="actions">
            
            <form action='.' method='post'>{% csrf_token %}
                <a href="#" onClick="parentNode.submit();">Confirmar</a>
                <a onClick="history.back();">Cancelar</a>
            </form>
            </div>

{% endblock %}