{% extends "templates/base.html" %}

{%block head%}
<script type="text/javascript" src="/media/js/jquery.maskedinput-1.3.min.js"></script>

<script type="text/javascript">

  $(document).ready(function(){
  	
  	$("#id_cellphone").mask("(99) 9999-9999");
  	$("#id_telephone").mask("(99) 9999-9999");
    
    if ($("#id_Administrador").attr("checked")) {
      $(".notadmin input").attr("checked",true);
      $(".notadmin input").attr("disabled",true);
    }
    
    
    $('#id_Administrador').click(function(){
      // hide the other permission
      if ($("#id_Administrador").attr("checked")) {
        $(".notadmin input").attr("checked",true);
        $(".notadmin input").attr("disabled",true);
      }
      
      else {
        $(".notadmin input").attr("checked",false);
        $(".notadmin input").attr("disabled",false);
      }
    });
    
  });

</script>

{%endblock%}

{% block content %}
<div  class="main-form">
{% block form_title %}
<h1><img src="/media/img/users.png" class="icon">Criação de usuário </h1>
<hr />
<h2>Dados de cadastro</h2>
<em>Informe os dados necessários para o cadastro do usuário.</em>
{% endblock %}
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>

    {% for field in form %}
    
    {% if field.label == 'Visualizar alertas' or field.label == 'Visualizar comandos' %}
      <tr class='notadmin'>
    {% else %}
      <tr>
    {% endif %}
      <td>
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }}{%if field.field.required%} *{%endif%}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            </td>
            <td>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
            </td>
          </tr>
        </div>
    {% endfor %}
    
    </table>
    <p style='font-weight:normal;'>*: Campos obrigatórios</p>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<div align="center" style="margin-top:10px;" id="actions">
  
  
      <input type="Submit" value="Confirmar">
      <a onClick="history.back();">Cancelar</a>
      </form>
      
  </div>
<p class="clear">

</div>
{% endblock %}
