<head>
<link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/master.css" type="text/css" media="screen" />
<title>{%block title%}Infotrack - Recuperação de senha{% endblock %}</title>

{%block head%}{%endblock%}

</head>




<div class="main-form" style="min-height:150px;width:600px;margin-top:100px;" >
<h1><img class="icon" src="/media/img/users.png">Recuperação de senha
</h1><hr/>
{% block content %}
<h3>Digite seu e-mail abaixo e enviaremos as instruções para definir uma nova senha.</h3>

<form action="" method="post" style="text-align:center;">{% csrf_token %}
 {{ form.email.errors }}
<p><label for="id_email">E-mail:</label> {{ form.email }} </p>
<br/>
<p><input type="submit" value="Enviar" style="margin-left:0;"/> ou <a href="{% url accounts.views.login %}">Voltar</a></p>
</form>
</div>
{% endblock %}
