<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/media/js/geofence.js"></script>	
</head>

<div id="toolbar" style="height:20%;width=100%;">
  Latitude: <input id="lat" type="text"></input>
  Longitude: <input id="lng" type="text"></input>
  <br/>
  Raio:<input id="radius" type="text"></input><input type="submit" id="circletool"  value="traçar circulo"></input>
  <br/>
  <input type="submit" id="routetool"  value="traçar rota"></input>
  
</div>
<div id="map" style="height:80%;width:100%;">
  
</div>


</html>