<html>
<head>
    <title>TESTE API v3</title>

  <link rel="stylesheet" href="http://www.geoportal.com.br/Api_Js_v3/theme/default/style.css" type="text/css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/media/js/OpenLayers.js"></script>
  <script type="text/javascript">
    // jQuery.noConflict();
  
    
  </script>
  
  
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Util.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/Class.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/Bounds.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/Element.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/LonLat.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/Pixel.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/BaseTypes/Size.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Console.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Tween.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Kinetic.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/Rico/Corner.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/Rico/Color.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Ajax.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Events.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Request.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Request/XMLHttpRequest.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Projection.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Map.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Icon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Marker.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Marker/Box.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Popup.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Tile.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Tile/Image.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Tile/Image/IFrame.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Image.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/SphericalMercator.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/EventPane.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/HTTPRequest.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Grid.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/MapGuide.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Markers.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Text.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/WMS.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Boxes.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/TileCache.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Zoomify.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Popup/Anchored.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Popup/AnchoredBubble.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Popup/Framed.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Popup/FramedCloud.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Feature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Feature/Vector.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Click.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Hover.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Point.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Path.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Polygon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Feature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Drag.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Pinch.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/RegularPolygon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Box.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/MouseWheel.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Handler/Keyboard.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Attribution.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Button.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomBox.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomOutBox.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomToMaxExtent.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/DragPan.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Navigation.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/PinchZoom.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/TouchNavigation.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/MousePosition.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/OverviewMap.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/KeyboardDefaults.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/PanZoom.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/PanZoomBar.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Scale.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ScaleLine.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Snapping.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Split.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/LayerSwitcher.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/DrawFeature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/DragFeature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ModifyFeature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Panel.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/NavigationHistory.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/WMSGetFeatureInfo.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/WMTSGetFeatureInfo.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Graticule.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/TransformFeature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/SLDSelect.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Rectangle.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Collection.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Point.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/MultiPoint.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Curve.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/LineString.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/LinearRing.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Polygon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/MultiLineString.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/MultiPolygon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Geometry/Surface.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/Elements.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/NG.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/SVG.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/SVG2.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/Canvas.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Renderer/VML.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Vector.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Layer/Vector/RootContainer.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter/FeatureId.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter/Logical.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter/Comparison.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter/Spatial.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Filter/Function.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Style.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Style2.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/StyleMap.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Rule.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Format.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Format/QueryStringFilter.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Format/CQL.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Format/JSON.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/GetFeature.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/NavToolbar.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/PanPanel.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Pan.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomIn.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomOut.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/ZoomPanel.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/EditingToolbar.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/Geolocate.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer/Point.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer/Line.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer/Polygon.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer/Text.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Symbolizer/Raster.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Lang.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Lang/en.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/OpenLayers/Control/DragMarker.js"></script>
  <script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/jqcontextmenu.js"></script>
	<script type="text/javascript" src="http://187.61.51.164/API_Js_v3/lib/mult.js"></script>

    <script type="text/javascript" language="JavaScript">
        var multiMapa;
		var Ticket = "76333D50-F9F4-4088-A9D7-DE5B09F9C27C";
		
		
		function startup() {
			multimapa = new multispectral(-52.9, -14.5, 0, "map", Ticket, false, "ErroCallback");
			
      // multimapa.Client.addPoint("rowid",-46.6,-23.6,"http://www.geoportal.com.br/applet/images/icone40.gif","PT01","Teste A","Teste B","Teste C","Grupo01",false,20,20,"ErroCallback",false,'setZoom:=multimapa.Client.zoomIn("ErroCallback");');
      
      multimapa.Client.addMarker(-47.06061,-22.89563,undefined,'Celta',undefined,'Placa X',14,27,true,'ErroCallback');
      alert('ae');a
      // multimapa.Client.addMarker(-47.06061,-22.89563,undefined,'Celta',undefined,'Placa X',14,27,true,'ErroCallback',false,'setZoom:=multimapa.Client.zoomIn("ErroCallback");');
			
      // multimapa.Client.routeGen(-46.6030065,-23.598228,-46.612194,-23.581085,true,"ErroCallback");
			
		}
		function load(){
		}
		function ErroCallback(valid, args) {
            if (valid == "false" || valid == false) {
                if (typeof args == "string") {
                    alert(args);
                }
            }
			else {
                // alert(args);
            }
        }
    
	</script>

</head>

<body onload="startup();">
	<div id="map"  ></div>
</body>
</html>