{% extends "templates/base.html" %}
{% block head %}
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>

{% endblock %}
{% block content %}


<div  class="main-form">
{% block form_title %}
<h1><img src="/media/img/configuration.png" class="icon">Edição de Cliente </h1>
<hr />
<h2>Dados de cadastro</h2>
<em>Edite as informações do sistema abaixo:</em>
{% endblock %}
  <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>

    {% for field in form_sys %}
    <tr>
      <td>
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }}{%if field.field.required%} *{%endif%}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            </td>
            <td>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
            </td>
          </tr>
        </div>
    {% endfor %}
    
    
     {% for field in form_sett %}
    <tr>
      <td>
        <div class="form-item">
            <div class="item-left">          
                  <p>{{ field.label_tag }}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
            </td>
            <td>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
            </td>
          </tr>
        </div>
    {% endfor %}
    </table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<div align="center" style="margin-top:10px;" id="actions">

  
      <input type="Submit" value="Confirmar">
      <a onClick="history.back();">Cancelar</a>
      </form>
      
  </div>
<p class="clear">

</div>
{% endblock %}

