{% extends "templates/base.html" %}

{% block head %}

<link rel="stylesheet" href="/media/css/multiselect.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/getElementsBySelector.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/media/js/jsi18n.js"></script>

{% endblock %}


{% block content %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<div id="config">
  <table cellpadding="0">
    <tbody>
      <tr>
        <td colspan="2">
          <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">{% block form_title %}{% endblock form_title %}</span>
          </div>
        </td>
      </tr>
      {% for field in form_sys %}
      
        <tr>
        <td>

	    <tr class="ui-widget-content jqgrow ui-row-ltr">  
        <td>          
          <h2>{{ field.label_tag }} {%if field.field.required%} *{%endif%}</h2>
          <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
        </td>
        
        <td>
        <p>{{ field.errors }} </p>
         {{ field }}          
          
        </td>
      </tr>
      <tr><td></td> </tr>
      
        {% endfor %}
      
	     
	     {% for field in form_sett %}
	    <tr class="ui-widget-content jqgrow ui-row-ltr">
	      <td>
	        <h2>{{ field.label_tag }}</h2>
	      </td>
	      <td>
	      	{% if "Logo" in field.label_tag  %}
                <p><img src ="{{ field.value }}" width="150px">  </p>
            {% endif %} 
            <p>{{ field.errors }} </p>
	        {{ field }}
	      </td>
	      <tr>
	        {{ field.help_text}}
	       
	      </tr>
      </tr>
        {% endfor %}
      <tr>
        <td colspan="2">
          
        </td>
      </tr>
      </tbody>
		</table>
		<p align="center"><input type="submit" value="Registrar" /></p>
			
	    
    </form>
</div>
   
{% endblock %}
